<!DOCTYPE html>
<html>
<head>
  <title>Songbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1> Sångbok </h1>
    <script type="text/x-handlebars">
      <div class="menu row"><div class="col-xs-4">{{#link-to 'songs'}}Songs{{/link-to}}</div></div>
      {{outlet}}
    </script>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
