<!DOCTYPE html>
<html>
<head>
  <title>Songbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> Sångbok </h1>
  <h2> Bla bla bla </h2>
  <div> Sångtesfr... </div>
  <script type="text/x-handlebars">
    {{#link-to 'songs'}}Songs{{/link-to}}
    {{outlet}}
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
