<!DOCTYPE html>
<html>
<head>
  <title>Songbook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <script type="text/x-handlebars">
      <div class="row">
        <div class="col-md-4 home-link">
          <div class="link-container">
            <h1>{{#link-to 'songs'}}app<br>audio{{/link-to}}</h1>
          </div>
        </div>
      </div>
      {{outlet}}
    </script>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
