<div class="row">
  <div class="col-md-2">
    {{input type='text' class="filter-input form-control" id="song-filter" value=filter placeholder='Filter'}} 
  </div>
</div>
<div class="row">
<ul class="song-list">
  {{#each song in filteredContent}}
    <li>{{#link-to 'song' song}}{{song.title}}{{/link-to}}</li>
  {{/each}}
</ul>
</div>