<div class="row">
  <div class="col-md-4 home-link">
    <div class="link-container">
      <h1>{{#link-to 'songs'}}app<br>audio{{/link-to}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    {{view "filter"}}
  </div>
</div>
<div class="row">
<ul class="song-list">
  {{#each song in filteredContent}}
    <li>{{#link-to 'song' song}}{{song.title}}{{/link-to}}</li>
  {{/each}}
</ul>
</div>
<div class="row author-info">
  Kontakt: ior@d.kth.se
  <br>
  Byggd av Jacob Sievers 2015
</div>