<span class="home-banner">{{#link-to 'songs'}}<i class="fa fa-home"></i>{{/link-to}}</span>
<h1 class="title-text">{{model.title}}</h1>
<div class="meta-text">{{model.meta}}</div>
<div class="song-text">{{expandLineBreaks model.text}}</div>